pre code {
    display: block;
    background: #ececec;
    max-width: 100%;
    min-width: 100px;
    padding: 0.5em;
    border-style: dashed;
    border-width: 1px;
}

body {
    /* background-image: url("assets/pexels-clarissa-schwarz-8941370.jpg"); */
    background-color: #ededed;
}
